header {
	text-align: center;
	font-size: 50px;
}


tr.TableMenu1>td, AvailableFunds, Score {
	padding-bottom: 1em;
	padding-right: 1em;
}

tr.VDTableRow>td {
	padding-bottom: 1em;
	padding-top: 1em;
}

.BetButton {
	height: 25px;
	width: 256px;
	margin: 0;
	position: relative;
}

h3 {
	text-align: center;
	font-size: 35px;
}

